numpy>=1.24.0,<1.26.0
torch==2.6.0
s3tokenizer
torchaudio==2.6.0
transformers==4.46.3
diffusers==0.29.0
safetensors==0.5.3
conformer==0.3.2
librosa==0.11.0
stable-ts
peft==0.7.1
perth==1.0.0
resemble-perth==1.0.1
six